.container {
  width: 50rem;
  padding: 10px 20px;
  margin: 24px auto;
}

.container .card {
  display: flex;
  flex-wrap: wrap;
  width: 12rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
